@font-face {
  font-family: 'iconfont'; /* Project id 4755028 */
  src:
    url('../font/iconfont.woff2?t=1739800233372') format('woff2'),
    url('../font/iconfont.woff?t=1739800233372') format('woff'),
    url('../font/iconfont.ttf?t=1739800233372') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: '\e616';
}

.icon-copy:before {
  content: '\e676';
}

.icon-unlocked:before {
  content: '\e601';
}

.icon-delete:before {
  content: '\e649';
}

.icon-locked:before {
  content: '\e60f';
}

.icon-share:before {
  content: '\e6ee';
}

.icon-rename:before {
  content: '\e6a3';
}

.icon-move:before {
  content: '\e6cf';
}

.icon-download:before {
  content: '\e615';
}

.icon-time:before {
  content: '\e60d';
}

.icon-filter:before {
  content: '\e6c7';
}

.icon-refresh:before {
  content: '\e633';
}

.icon-simple-folder:before {
  content: '\e62a';
}

.icon-weixin:before {
  content: '\e711';
}

.icon-post-management:before {
  content: '\e6f9';
}

.icon-file-management:before {
  content: '\e747';
}

.icon-setting:before {
  content: '\e8b7';
}

.icon-add:before {
  content: '\e94c';
}

.icon-forum:before {
  content: '\e697';
}

.icon-message:before {
  content: '\e8bd';
}

.icon-my:before {
  content: '\e609';
}

.icon-index:before {
  content: '\e600';
}
